h1{
    background-color: rgb(136, 231, 231);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2{
    background-color: rgb(136, 231, 231);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body{
    background-color: rgb(82, 172, 107);
    text-align: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}